*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

header {
    background: #2E323F;
    padding: 1em 0;
    text-align: center;
    margin-bottom: 0;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #42444d;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.logo {
    height: 30px;
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    opacity: .85;
    font-weight: 100;
}

.sign_up{
    border-radius: 90px;
    background: #A59678;
    padding: .3em 1em;
}

.nav_item{
    list-style: none;
    margin: 0;
    padding: 0;
}
.item2{
    margin-top: 2em;
}
.nav_list{
    margin-top: 1em;
}

.main{
    color: #fff;
    background-color: #3B4050;
    max-width: 100%;
    padding: 2em;
}
.col{
    margin-left: auto;
}
.learn{
    opacity: 1;
    border-radius: 90px;
    background: #A59678;
    padding: .35em 1.5em;
    cursor: pointer;
}
.learn:hover{
    opacity: .80;
}

.middle{
    text-align: center;
    background-color: #e7ecfd;
    padding: 1em;
}
h3{
    color: #A59678;
}


.lower{
    margin-top: 1em;
}
.lower_img{
    max-width: 100%;
}

aside h3{
    color: #fff;
}
.aside{
    background-color: #3B4050;
    padding: 1em 1em 1em 1em;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1rem;
}

.footer{
    background-color: #3B4050;
    padding-top: 2em;
    padding-bottom: 2em;
}
.footer h1, .footer p{
    color: #fff;
}
h5{
    color: #A59678;
    margin: 0;
}
.footer p{
    font-size: .65em;
}

.footlings{
    margin-top: 2em;
}


@media (min-width: 700px) and (max-width: 1000px){

    .lower{
        width: 100%;
    }

    .hero_img{
        width: 1000px;
        max-height: 250px;
    }

    .lower_aside{
        display: flex;
        max-width: 80%;
        margin: 0 auto;
    }

    .aside{
        flex-direction: row;
        justify-content: space-between;
        object-fit: cover;
        padding: 1em;
    }
    .center_aside{
        margin-left: 1em;
        margin-right: 1em;
    }

}

@media (min-width: 1000px) {



    .nav-toggle {
        display: none;
        padding: 0;
    }

    .row {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .nav {
        visibility: visible;
        display: flex;
        padding: 0;
    }
    
    .item1{
        display: flex;
        margin: 0;
        margin-left: auto;
    }
    .item2{
        display: flex;
        margin: 0;
        margin-left: 2em;
    }

    .nav_list{
        margin: 0;
        margin-left: 2em;
    }

    .col{
        max-width: 76%;
        margin-left: 1.5em;
        padding: 3.5em 0 0;
    }

    .center{
        max-width: 100%;
        margin-left: 3em;
        margin-right: 3em;
    }
    
    .hero_img{
        max-width: 100%;
    }
    .lower_main{
        max-width: 80%;
        margin-right: 2em;
    }

    .lower_aside{
        max-width: 33%;
        margin-left: auto;
        margin-top: 1.35em;
    }

    .aside{
        color: #fff;
        font-weight: normal;
    }

    .footy{
        margin: 0 auto;
    }
    .foot_head{
        margin: 0;
       text-align: center;
    }
    .main_footling{
        max-width: 50%;
    }

}
